<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.home.mapper.GBoardMapper">
  
  <select id="getGBoardList" resultType="com.home.domain.GBoardBean">
	select * from gboard ORDER BY num DESC
  </select>
  
  <select id="getGBoardCount" resultType="java.lang.Integer">
  	select count(*) from gboard
  </select>
  
  <insert id="insertGBoard">
	insert into gboard(num,name,pass,subject,content,readcount,date,file)
	values(#{num},#{name},#{pass},#{subject},#{content},#{readcount},#{date},#{file});
  </insert>
  
  <select id="getGBoard" resultType="com.home.domain.GBoardBean">
  	    	select * from gboard where num = #{num}
  </select>
  
  <update id="updateReadCount">
  	  		update gboard set readcount = readcount + 1 where num = #{num}
  </update>
  
   <select id="getMaxNum" resultType="java.lang.Integer">
  			select max(num) from gboard 
  	</select>
  
   <select id="numCheck" resultType="com.home.domain.GBoardBean">
   		select * from gboard where num = #{num} and pass=#{pass}
   </select>
  
  <update id="updateGBoard">
  	  	update gboard set subject = #{subject}, content=#{content}, file = #{file} where num = #{num}
  </update>
  
  <delete id="deleteBoard">
  	delete from gboard where num = #{num}
  </delete>
  
  <select id="listSearch" resultType="com.home.domain.GBoardBean">
  		select * from gboard where subject like CONCAT('%',#{search},'%') order by num desc
  </select>
  
  <select id="SearchCount" resultType="java.lang.Integer">
  	select count(*) from gboard where subject like CONCAT ('%',#{search},'%')
  </select>
  
  
  
  
  
  
  
  
  
  
  
  
  </mapper>
  
  